:root {
  --header-height: 3rem;
  --first-color: #fff;
  --first-color-second: #ccc;
  --first-color-lighter: #666;
  --text-color: #888;
  --body-color: #666;
  --blue-color: rgb(26, 26, 204);
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.123rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  /* ======== margenes bottom ======= */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --transition: all 400ms ease;
  /* ========== Z index ===========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 999;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dark-mode {
  /* change roots colors */
  color: var(--first-color);
  --first-color: #fff;
  --first-color-second: #160a0a;
  --first-color-lighter: #0e0c0c;
  --text-color: #f2efef;
  --body-color: rgb(16, 14, 14);
}

/*  */
body {
  background: var(--body-color);
  overflow: hidden;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.is-hidden {
  display: none !important;
}
.dm_wrapper {
  display: flex;
  background-color: var(--body-color);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_app {
  width: 70vw;
  height: 90vh;
  background-color: var(--first-color-second);
  border-radius: 10px 0px 0px 5px;
  padding: 10px;
}
.flex_end {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #333;
}
.gridTwo {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.settings {
  cursor: pointer;
}
.settings:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sidebar {
  display: block;
  height: 90%;
  width: 100%;
  border-right: 1px solid var(--text-color);
}
.search_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.search_input {
  display: flex;
  width: 60%;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 5px;
  box-shadow: 2px 5px 15px #000000;
  border-radius: 10px;
}
.search_input input {
  width: 100%;
  border: none;
  background: none;
}
.tabs {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6px 2px;
  width: 20%;
  cursor: pointer;
  margin: 0px 5px;
  font-size: 10px;
}
.tab.active {
  border-left: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  /* border-right: 1px solid var(--first-color-second); */
}
.icon {
  width: 17px;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.tab:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.input_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
}
.input {
  border: none;
  background: none;
  border-bottom: 1.5px solid var(--text-color);
  padding: 10px;
}
.btn_main {
  padding: 5px 20px;
  border: none;
  background: var(--blue-color);
  color: var(--first-color);
  cursor: pointer;
  border-radius: 5px;
}
.tab_state_data {
  display: block;
  height: 350px;
  width: 100%;
  overflow: hidden scroll;
}
.user {
  width: 50px;
  height: 50px;
  box-shadow: 2px 0px 15px #000000;
  border-radius: 50%;
}
.user:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.contact {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--text-color);
}
.contact_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  margin-left: 10px;
}

.selected_user {
  display: flex;
  padding: 5px 20px;
  align-items: center;
  box-shadow: 2px 0px 15px #000000;
}
.user_status {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.selected_msgs {
  width: 100%;
  height: 350px;
  overflow: hidden scroll;
}

.selected_msgs_input_send {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  background: #fff;
  color: #333;
}
.selected_msgs_input_send input,.selected_msgs_input_send textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  resize: none;
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_wrapper {
  display: flex;
  width: 100%;
  height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.msg {
  width: 250px !important;
  word-wrap: break-word !important;
  padding: 5px;
}
.msgs_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word !important;
}

.fromMe {
  display: flex;
  text-align: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  word-wrap: break-word;
  padding: 5px;
  color: var(--first-color);
  width: 100%;
  cursor: pointer;
}
.fromMeMsg {
  width: 50%;
  word-wrap: break-word;
  background: var(--body-color);
  border-radius: 10px 5px 0px 12px;
}
.fromMe:hover {
  transform: scale(0.9);
}

.fromOther {
  text-align: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  word-wrap: break-word !important;
  width: 250px !important;
  padding: 5px;
  border-radius: 10px 5px 0px 12px;
  background: rgb(15, 15, 187);
  color: var(--first-color-lighter);
  margin: 10px 0px;
  cursor: pointer;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.fullmode {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid var(--text-color);
}
.badge {
  width: 25px;
  height: 25px;
  color: var(--first-color);
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
}
.minimize {
  width: 20px;
  height: 2px;
  display: block;
  margin-left: 10px;
  background: var(--text-color);
}
input[value] {
  color: var(--text-color);
}
.gene_menu {
  position: absolute;
  width: 150px;
  height: auto;
  background: #666;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: var(--z-modal);
  padding-bottom: 20px;
}
.menu_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 5px;
  padding: 10px 3px;
  cursor: pointer;
}
.toggle_btn {
  display: flex;
  align-items: center;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: var(--first-color);
  cursor: pointer;
}
.toggle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin: 0px 5px;
  background: var(--text-color);
}
.toggle_btn.active .toggle {
  background: var(--body-color);
}
.toggle_btn.active {
  display: flex;
  justify-content: flex-end;
}
.menu_items {
  width: 100%;
  font-size: 15px;
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item {
  width: 100%;
  padding: 7px 5px;
  border-bottom: 2px solid var(--text-color);
  cursor: pointer;
}
.notfound_data{
  width: 100%;
  height: 300PX;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .sidebar.hide {
    display: none !important;
  }
  .dm_msgs.hide {
    display: none !important;
  }
  .main_app {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }
  .gridTwo {
    grid-template-columns: repeat(1, 1fr);
  }
  .selected_msgs_input_send{
    position: fixed;
    bottom: 5px;
    width: 90%;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media screen and (max-width: 400px) {
  .input_wrapper {
    flex-direction: column;
  }
  .input_wrapper .input {
    margin: 10px 0px;
  }
}
